In [3]:
print("hello,world")

hello,world

#data types

#string is either double qoutes or single qoutes
text("hello")

In [4]:
text("hello")

NameError: name 'text' is not defined

In [ ]:
test=("hello")

In [ ]:
print(test)

hello

In [ ]:
type(test)

str

In [ ]:
#numeric types come in two forms
#integers or floats
#integer
number=10
#float
floaty=5.4

In [ ]:
number + floaty

15.4

In [ ]:
test + number

TypeError: can only concatenate str (not "int") to str

In [ ]:
test+test

'hellohello'

###operators

In [ ]:
36/6

6.0

In [ ]:
6*10

60

In [ ]:
7**7

823543

In [ ]:
15//4

3

In [ ]:
15%2

1

##pyhton collection

In [5]:
#list
my_list = [1,"2",3.2]

In [ ]:
print(my_list)

[1, '2', 3.2]

In [ ]:
print(my_list)[0]

NameError: name 'my_list' is not defined

In [6]:
print(my_list)

[1, '2', 3.2]

In [7]:
print(my_list[0])

1

In [9]:
my_dict = {"one":1, "two":2, "three": 3}